<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catch-link</title>
</head>
<body>
    <style>
        #footer{
            border-bottom: 2px solid silver;
            width:100%;
            height: 50px;
        }
        #post{
            width:30%;
            float: left;
            margin-top:10%;
            margin-right: 30%;
            margin-left: 30%;
            border:2px solid silver;
            height:300px;
        }
    </style>
     <div id="footer">Gavnica syuda pishu</div>
    {% for post in posts %}
    <div id="post">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="#">{{ post.title }}</a> </h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>
</html>